<!DOCTYPE html>
<html>
    <head>
        <title>Fuzzy To-Do List</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
    <div class="jumbotron text-center">
        <h1>Fuzzy To-Do List</h1>
    </div>
    {% block content %}
    {% endblock %}
    </body>

</html>
