{% extends "_base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <ul>
            {% for t in tasks %}
            <li style="background-color: {{ t.task_color }}"><strong>{{t.name}}</strong> last done: {{t.last_done | datetime}}
            <a href={{ url_for('update', task_id=t.task_id) }}>
                <button type="button" class="btn btn-default btn-sm right">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </a>
            <a href={{ url_for('edit', task_id=t.task_id) }}>
                <button type="button" class="btn btn-default btn-sm right">
                    <span class="glyphicon glyphicon-pencil"></span> 
                </button>
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="{{ url_for('todo') }}" method="POST">
            <input name="task" 
            placeholder="Enter a new item"
            type="text">
            <input name="min_days"
            placeholder="Min time in days"
            type="number" step="any" min="0">
            <input name="max_days"
            placeholder="Max time in days"
            type="number" step="any" min="0">
            <input type="submit" value="Add item">
        </form>
    </div>
</div>
{% endblock %}
